<div class="center-div" role="main">
    <h2>Regisztráció</h2>
    <div>
      <div class="form-group">
        <label for="username">Felhasználónév</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Jelszó</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <div class="form-group">
          <button mat-raised-button (click)="register()">Regisztrálás</button>
        </div>
        <div class="form-group">
          <button mat-raised-button [routerLink]="['/login']">Vissza a bejelentkezéshez</button>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  